---
  swagger: "2.0"
  info:
    version: "3.0"
    title: Kava Light Client RPC
    description: A REST interface for state queries, transaction generation and broadcasting.
  tags:
    - name: Transactions
      description: Search, encode, or broadcast transactions.
    - name: Tendermint RPC
      description: Tendermint APIs, such as query blocks, transactions and validatorset
    - name: Auth
      description: Authenticate accounts
    - name: Bank
      description: Create and broadcast transactions
    - name: Staking
      description: Stake module APIs
    - name: Governance
      description: Governance module APIs
    - name: Slashing
      description: Slashing module APIs
    - name: Distribution
      description: Fee distribution module APIs
    - name: Supply
      description: Supply module APIs
    - name: version
    - name: Mint
      description: Minting module APIs
    - name: Misc
      description: Query app version
  schemes:
    - https
  host: data.kava.io
  securityDefinitions:
    kms:
      type: basic
  paths:
    /node_info:
      get:
        description: Information about the connected node
        summary: The properties of the connected node
        tags:
          - Tendermint RPC
        produces:
          - application/json
        responses:
          200:
            description: Node status
            schema:
              type: object
              properties:
                application_version:
                  properties:
                    build_tags:
                      type: string
                    client_name:
                      type: string
                    commit:
                      type: string
                    go:
                      type: string
                    name:
                      type: string
                    server_name:
                      type: string
                    version:
                      type: string
                node_info:
                  properties:
                    id:
                      type: string
                    moniker:
                      type: string
                      example: validator-name
                    protocol_version:
                      properties:
                        p2p:
                          type: string
                          example: 7
                        block:
                          type: string
                          example: 10
                        app:
                          type: string
                          example: 0
                    network:
                      type: string
                      example: kava-2
                    channels:
                      type: string
                    listen_addr:
                      type: string
                      example: 192.168.56.1:26656
                    version:
                      description: Tendermint version
                      type: string
                      example: 0.15.0
                    other:
                      description: more information on versions
                      type: object
                      properties:
                        tx_index:
                          type: string
                          example: on
                        rpc_address:
                          type: string
                          example: tcp://0.0.0.0:26657
          500:
            description: Failed to query node status
  definitions:
    CheckTxResult:
      type: object
      properties:
        code:
          type: integer
        data:
          type: string
        gas_used:
          type: integer
        gas_wanted:
          type: integer
        info:
          type: string
        log:
          type: string
        tags:
          type: array
          items:
            $ref: "#/definitions/KVPair"
      example:
        code: 0
        data: data
        log: log
        gas_used: 5000
        gas_wanted: 10000
        info: info
        tags:
          - ""
          - ""
    DeliverTxResult:
      type: object
      properties:
        code:
          type: integer
        data:
          type: string
        gas_used:
          type: integer
        gas_wanted:
          type: integer
        info:
          type: string
        log:
          type: string
        tags:
          type: array
          items:
            $ref: "#/definitions/KVPair"
      example:
        code: 5
        data: data
        log: log
        gas_used: 5000
        gas_wanted: 10000
        info: info
        tags:
          - ""
          - ""
    BroadcastTxCommitResult:
      type: object
      properties:
        check_tx:
          $ref: "#/definitions/CheckTxResult"
        deliver_tx:
          $ref: "#/definitions/DeliverTxResult"
        hash:
          $ref: "#/definitions/Hash"
        height:
          type: integer
    KVPair:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    Msg:
      type: object
      properties:
        type:
          type: string
          example: "cosmos-sdk/MsgSend"
        value:
          type: object
          properties:
            from:
              type: string
              example: kava15qdefkmwswysgg4qxgqpqr35k3m49pkx2jdfnw
    Address:
      type: string
      description: bech32 encoded address
      example: kava1depk54cuajgkzea6zpgkq36tnjwdzv4afc3d27
    ValidatorAddress:
      type: string
      description: bech32 encoded address
      example: kavavaloper16xyempempp92x9hyzz9wrgf94r6j9h5f2w4n2l
    Coin:
      type: object
      properties:
        denom:
          type: string
          example: ukava
        amount:
          type: string
          example: "50"
    Hash:
      type: string
      example: EE5F3404034C524501629B56E0DDC38FAD651F04
    Signature:
      type: object
      properties:
        signature:
          type: string
          example: "W1HfKcc4F0rCSoxheZ7fsrB5nGK58U4gKysuzsmUwhloVnCxmbCx289uVMMvQN6tOcQsz7hMVTJrXSA1xzevvw=="
        pubkey:
          type: object
          properties:
            type:
              type: string
              example: "tendermint/PubKeySecp256k1"
            value:
              type: string
              example: "Agey31h/NYpcy0sYm4liHMrXJMzbQUrgV4uHd/w09CXN"
    TxQuery:
      type: object
      properties:
        hash:
          type: string
          example: "D085138D913993919295FF4B0A9107F1F2CDE0D37A87CE0644E217CBF3B49656"
        height:
          type: number
          example: 368
        tx:
          $ref: "#/definitions/StdTx"
        result:
          type: object
          properties:
            log:
              type: string
            gas_wanted:
              type: string
              example: "200000"
            gas_used:
              type: string
              example: "26354"
            tags:
              type: array
              items:
                $ref: "#/definitions/KVPair"
    PaginatedQueryTxs:
      type: object
      properties:
        total_count:
          type: number
          example: 1
        count:
          type: number
          example: 1
        page_number:
          type: number
          example: 1
        page_total:
          type: number
          example: 1
        limit:
          type: number
          example: 30
        txs:
          type: array
          items:
            $ref: "#/definitions/TxQuery"
    StdTx:
      type: object
      properties:
        msg:
          type: array
          items:
            $ref: "#/definitions/Msg"
        fee:
          type: object
          properties:
            gas:
              type: string
            amount:
              type: array
              items:
                $ref: "#/definitions/Coin"
        memo:
          type: string
        signatures:
          type: array
          items:
            $ref: "#/definitions/Signature"
    BlockID:
      type: object
      properties:
        hash:
          $ref: "#/definitions/Hash"
        parts:
          type: object
          properties:
            total:
              type: number
              example: 0
            hash:
              $ref: "#/definitions/Hash"
    BlockHeader:
      type: object
      properties:
        chain_id:
          type: string
          example: kavahub-2
        height:
          type: number
          example: 1
        time:
          type: string
          example: "2017-12-30T05:53:09.287+01:00"
        num_txs:
          type: number
          example: 0
        last_block_id:
          $ref: "#/definitions/BlockID"
        total_txs:
          type: number
          example: 35
        last_commit_hash:
          $ref: "#/definitions/Hash"
        data_hash:
          $ref: "#/definitions/Hash"
        validators_hash:
          $ref: "#/definitions/Hash"
        next_validators_hash:
          $ref: "#/definitions/Hash"
        consensus_hash:
          $ref: "#/definitions/Hash"
        app_hash:
          $ref: "#/definitions/Hash"
        last_results_hash:
          $ref: "#/definitions/Hash"
        evidence_hash:
          $ref: "#/definitions/Hash"
        proposer_address:
          $ref: "#/definitions/Address"
        version:
          type: object
          properties:
            block:
              type: string
              example: 10
            app:
              type: string
              example: 0
    Block:
      type: object
      properties:
        header:
          $ref: "#/definitions/BlockHeader"
        txs:
          type: array
          items:
            type: string
        evidence:
          type: array
          items:
            type: string
        last_commit:
          type: object
          properties:
            block_id:
              $ref: "#/definitions/BlockID"
            precommits:
              type: array
              items:
                type: object
                properties:
                  validator_address:
                    type: string
                  validator_index:
                    type: string
                    example: "0"
                  height:
                    type: string
                    example: "0"
                  round:
                    type: string
                    example: "0"
                  timestamp:
                    type: string
                    example: "2017-12-30T05:53:09.287+01:00"
                  type:
                    type: number
                    example: 2
                  block_id:
                    $ref: "#/definitions/BlockID"
                  signature:
                    type: string
                    example: "7uTC74QlknqYWEwg7Vn6M8Om7FuZ0EO4bjvuj6rwH1mTUJrRuMMZvAAqT9VjNgP0RA/TDp6u/92AqrZfXJSpBQ=="
    BlockQuery:
      type: object
      properties:
        block_meta:
          type: object
          properties:
            header:
              $ref: "#/definitions/BlockHeader"
            block_id:
              $ref: "#/definitions/BlockID"
        block:
          $ref: "#/definitions/Block"
    DelegationDelegatorReward:
      type: object
      properties:
        validator_address:
          $ref: "#/definitions/ValidatorAddress"
        reward:
          type: array
          items:
            $ref: "#/definitions/Coin"
    DelegatorTotalRewards:
      type: object
      properties:
        rewards:
          type: array
          items:
            $ref: "#/definitions/DelegationDelegatorReward"
        total:
          type: array
          items:
            $ref: "#/definitions/Coin"
    BaseReq:
      type: object
      properties:
        from:
          type: string
          example: "kava1g9ahr6xhht5rmqven628nklxluzyv8z9jqjcmc"
          description: Sender address or Keybase name to generate a transaction
        memo:
          type: string
          example: "Sent via Cosmos Voyager 🚀"
        chain_id:
          type: string
          example: "Cosmos-Hub"
        account_number:
          type: string
          example: "0"
        sequence:
          type: string
          example: "1"
        gas:
          type: string
          example: "200000"
        gas_adjustment:
          type: string
          example: "1.2"
        fees:
          type: array
          items:
            $ref: "#/definitions/Coin"
        simulate:
          type: boolean
          example: false
          description: Estimate gas for a transaction (cannot be used in conjunction with generate_only)
    TendermintValidator:
      type: object
      properties:
        address:
          $ref: "#/definitions/ValidatorAddress"
        pub_key:
          type: string
          example: kavavalconspub1zcjduepq0vu2zgkgk49efa0nqwzndanq5m4c7pa3u4apz4g2r9gspqg6g9cs3k9cuf
        voting_power:
          type: string
          example: "1000"
        proposer_priority:
          type: string
          example: "1000"
    TextProposal:
      type: object
      properties:
        proposal_id:
          type: integer
        title:
          type: string
        description:
          type: string
        proposal_type:
          type: string
        proposal_status:
          type: string
        final_tally_result:
          $ref: "#/definitions/TallyResult"
        submit_time:
          type: string
        total_deposit:
          type: array
          items:
            $ref: "#/definitions/Coin"
        voting_start_time:
          type: string
    Proposer:
      type: object
      properties:
        proposal_id:
          type: string
        proposer:
          type: string
    Deposit:
      type: object
      properties:
        amount:
          type: array
          items:
            $ref: "#/definitions/Coin"
        proposal_id:
          type: string
        depositor:
          $ref: "#/definitions/Address"
    TallyResult:
      type: object
      properties:
        yes:
          type: string
          example: "0.0000000000"
        abstain:
          type: string
          example: "0.0000000000"
        no:
          type: string
          example: "0.0000000000"
        no_with_veto:
          type: string
          example: "0.0000000000"
    Vote:
      type: object
      properties:
        voter:
          type: string
        proposal_id:
          type: string
        option:
          type: string
    Validator:
      type: object
      properties:
        operator_address:
          $ref: "#/definitions/ValidatorAddress"
        consensus_pubkey:
          type: string
          example: kavavalconspub1zcjduepq0vu2zgkgk49efa0nqwzndanq5m4c7pa3u4apz4g2r9gspqg6g9cs3k9cuf
        jailed:
          type: boolean
        status:
          type: integer
        tokens:
          type: string
        delegator_shares:
          type: string
        description:
          type: object
          properties:
            moniker:
              type: string
            identity:
              type: string
            website:
              type: string
            security_contact:
              type: string
            details:
              type: string
        bond_height:
          type: string
          example: "0"
        bond_intra_tx_counter:
          type: integer
          example: 0
        unbonding_height:
          type: string
          example: "0"
        unbonding_time:
          type: string
          example: "1970-01-01T00:00:00Z"
        commission:
          type: object
          properties:
            rate:
              type: string
              example: "0"
            max_rate:
              type: string
              example: "0"
            max_change_rate:
              type: string
              example: "0"
            update_time:
              type: string
              example: "1970-01-01T00:00:00Z"
    Delegation:
      type: object
      properties:
        delegator_address:
          type: string
        validator_address:
          type: string
        shares:
          type: string
        balance:
          $ref: "#/definitions/Coin"
    UnbondingDelegationPair:
      type: object
      properties:
        delegator_address:
          type: string
        validator_address:
          type: string
        entries:
          type: array
          items:
            $ref: "#/definitions/UnbondingEntries"
    UnbondingEntries:
      type: object
      properties:
        initial_balance:
          type: string
        balance:
          type: string
        creation_height:
          type: string
        min_time:
          type: string
    UnbondingDelegation:
      type: object
      properties:
        delegator_address:
          type: string
        validator_address:
          type: string
        initial_balance:
          type: string
        balance:
          type: string
        creation_height:
          type: integer
        min_time:
          type: integer
    Redelegation:
      type: object
      properties:
        delegator_address:
          type: string
        validator_src_address:
          type: string
        validator_dst_address:
          type: string
        entries:
          type: array
          items:
            $ref: "#/definitions/Redelegation"
    RedelegationEntry:
      type: object
      properties:
        creation_height:
          type: integer
        completion_time:
          type: integer
        initial_balance:
          type: string
        balance:
          type: string
        shares_dst:
          type: string
    ValidatorDistInfo:
      type: object
      properties:
        operator_address:
          $ref: "#/definitions/ValidatorAddress"
        self_bond_rewards:
          type: array
          items:
            $ref: "#/definitions/Coin"
        val_commission:
          type: array
          items:
            $ref: "#/definitions/Coin"
    PublicKey:
      type: object
      properties:
        type:
          type: string
        value:
          type: string
    SigningInfo:
      type: object
      properties:
        start_height:
          type: string
        index_offset:
          type: string
        jailed_until:
          type: string
        missed_blocks_counter:
          type: string
    ParamChange:
      type: object
      properties:
        subspace:
          type: string
          example: "staking"
        key:
          type: string
          example: "MaxValidators"
        subkey:
          type: string
          example: ""
        value:
          type: object
    Supply:
      type: object
      properties:
        total:
          type: array
          items:
            $ref: "#/definitions/Coin"