schemes:
- https
swagger: "2.0"
info:
  description: A REST interface for state queries, transaction generation and broadcasting.
  title: Kava Light Client RPC
  version: "3.0"
host: api.data.kava.io
paths:
  /incentive/claim-cdp:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - Incentive
      summary: Claim USDX incentive rewards from earned from CDPs
      parameters:
      - name: Incentive claim CDP body
        in: body
        schema:
          properties:
            base_req:
              type: object
              properties:
                account_number:
                  type: string
                  example: "1"
                chain_id:
                  type: string
                  example: testing
                fees:
                  type: array
                  items:
                    type: object
                    properties:
                      amount:
                        type: string
                        example: "50000"
                      denom:
                        type: string
                        example: ukava
                from:
                  description: Sender address or Keybase name to generate a transaction
                  type: string
                  example: kava1ffv7nhd3z6sych2qpqkk03ec6hzkmufy0r2s4c
                gas:
                  type: string
                  example: "200000"
                gas_adjustment:
                  type: string
                  example: "1.0"
                memo:
                  type: string
                  example: a memo
                sequence:
                  type: string
                  example: "0"
                simulate:
                  description: Estimate gas for a transaction (cannot be used in conjunction
                    with generate_only)
                  type: boolean
                  example: false
            denoms_to_claim:
              type: array
              items:
                type: string
                example: ukava
            multiplier_name:
              type: string
              example: small
            sender:
              description: bech32 encoded address
              type: string
              example: kava1ffv7nhd3z6sych2qpqkk03ec6hzkmufy0r2s4c
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              fee:
                type: object
                properties:
                  amount:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: string
                          example: "50000"
                        denom:
                          type: string
                          example: ukava
                  gas:
                    type: string
                    example: "200000"
              memo:
                type: string
              msg:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      example: cosmos-sdk/MsgSend
                    value:
                      type: object
                      properties:
                        amount:
                          type: array
                          items:
                            type: object
                            properties:
                              amount:
                                type: string
                                example: "50000"
                              denom:
                                type: string
                                example: ukava
                        from_address:
                          type: string
                          example: kava1ffv7nhd3z6sych2qpqkk03ec6hzkmufy0r2s4c
                        to_address:
                          type: string
                          example: kava1ls82zzghsx0exkpr52m8vht5jqs3un0ceysshz
              signatures:
                type: array
                items:
                  type: object
                  properties:
                    pubkey:
                      type: object
                      properties:
                        type:
                          type: string
                          example: tendermint/PubKeySecp256k1
                        value:
                          type: string
                          example: Agey31h/NYpcy0sYm4liHMrXJMzbQUrgV4uHd/w09CXN
                    signature:
                      type: string
                      example: W1HfKcc4F0rCSoxheZ7fsrB5nGK58U4gKysuzsmUwhloVnCxmbCx289uVMMvQN6tOcQsz7hMVTJrXSA1xzevvw==
        "400":
          description: Invalid request
        "500":
          description: Internal server error
  /incentive/claim-delegator:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - Incentive
      summary: Claim Kava delegation rewards
      parameters:
      - name: Incentive claim delegator body
        in: body
        schema:
          properties:
            base_req:
              type: object
              properties:
                account_number:
                  type: string
                  example: "1"
                chain_id:
                  type: string
                  example: testing
                fees:
                  type: array
                  items:
                    type: object
                    properties:
                      amount:
                        type: string
                        example: "50000"
                      denom:
                        type: string
                        example: ukava
                from:
                  description: Sender address or Keybase name to generate a transaction
                  type: string
                  example: kava1ffv7nhd3z6sych2qpqkk03ec6hzkmufy0r2s4c
                gas:
                  type: string
                  example: "200000"
                gas_adjustment:
                  type: string
                  example: "1.0"
                memo:
                  type: string
                  example: a memo
                sequence:
                  type: string
                  example: "0"
                simulate:
                  description: Estimate gas for a transaction (cannot be used in conjunction
                    with generate_only)
                  type: boolean
                  example: false
            denoms_to_claim:
              type: array
              items:
                type: string
                example: ukava
            multiplier_name:
              type: string
              example: small
            sender:
              description: bech32 encoded address
              type: string
              example: kava1ffv7nhd3z6sych2qpqkk03ec6hzkmufy0r2s4c
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              fee:
                type: object
                properties:
                  amount:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: string
                          example: "50000"
                        denom:
                          type: string
                          example: ukava
                  gas:
                    type: string
                    example: "200000"
              memo:
                type: string
              msg:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      example: cosmos-sdk/MsgSend
                    value:
                      type: object
                      properties:
                        amount:
                          type: array
                          items:
                            type: object
                            properties:
                              amount:
                                type: string
                                example: "50000"
                              denom:
                                type: string
                                example: ukava
                        from_address:
                          type: string
                          example: kava1ffv7nhd3z6sych2qpqkk03ec6hzkmufy0r2s4c
                        to_address:
                          type: string
                          example: kava1ls82zzghsx0exkpr52m8vht5jqs3un0ceysshz
              signatures:
                type: array
                items:
                  type: object
                  properties:
                    pubkey:
                      type: object
                      properties:
                        type:
                          type: string
                          example: tendermint/PubKeySecp256k1
                        value:
                          type: string
                          example: Agey31h/NYpcy0sYm4liHMrXJMzbQUrgV4uHd/w09CXN
                    signature:
                      type: string
                      example: W1HfKcc4F0rCSoxheZ7fsrB5nGK58U4gKysuzsmUwhloVnCxmbCx289uVMMvQN6tOcQsz7hMVTJrXSA1xzevvw==
        "400":
          description: Invalid request
        "500":
          description: Internal server error
  /incentive/claim-hard:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - Incentive
      summary: Claim Hard supply/borrow rewards
      parameters:
      - name: Incentive claim Hard body
        in: body
        schema:
          properties:
            base_req:
              type: object
              properties:
                account_number:
                  type: string
                  example: "1"
                chain_id:
                  type: string
                  example: testing
                fees:
                  type: array
                  items:
                    type: object
                    properties:
                      amount:
                        type: string
                        example: "50000"
                      denom:
                        type: string
                        example: ukava
                from:
                  description: Sender address or Keybase name to generate a transaction
                  type: string
                  example: kava1ffv7nhd3z6sych2qpqkk03ec6hzkmufy0r2s4c
                gas:
                  type: string
                  example: "200000"
                gas_adjustment:
                  type: string
                  example: "1.0"
                memo:
                  type: string
                  example: a memo
                sequence:
                  type: string
                  example: "0"
                simulate:
                  description: Estimate gas for a transaction (cannot be used in conjunction
                    with generate_only)
                  type: boolean
                  example: false
            denoms_to_claim:
              type: array
              items:
                type: string
                example: ukava
            multiplier_name:
              type: string
              example: small
            sender:
              description: bech32 encoded address
              type: string
              example: kava1ffv7nhd3z6sych2qpqkk03ec6hzkmufy0r2s4c
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              fee:
                type: object
                properties:
                  amount:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: string
                          example: "50000"
                        denom:
                          type: string
                          example: ukava
                  gas:
                    type: string
                    example: "200000"
              memo:
                type: string
              msg:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      example: cosmos-sdk/MsgSend
                    value:
                      type: object
                      properties:
                        amount:
                          type: array
                          items:
                            type: object
                            properties:
                              amount:
                                type: string
                                example: "50000"
                              denom:
                                type: string
                                example: ukava
                        from_address:
                          type: string
                          example: kava1ffv7nhd3z6sych2qpqkk03ec6hzkmufy0r2s4c
                        to_address:
                          type: string
                          example: kava1ls82zzghsx0exkpr52m8vht5jqs3un0ceysshz
              signatures:
                type: array
                items:
                  type: object
                  properties:
                    pubkey:
                      type: object
                      properties:
                        type:
                          type: string
                          example: tendermint/PubKeySecp256k1
                        value:
                          type: string
                          example: Agey31h/NYpcy0sYm4liHMrXJMzbQUrgV4uHd/w09CXN
                    signature:
                      type: string
                      example: W1HfKcc4F0rCSoxheZ7fsrB5nGK58U4gKysuzsmUwhloVnCxmbCx289uVMMvQN6tOcQsz7hMVTJrXSA1xzevvw==
        "400":
          description: Invalid request
        "500":
          description: Internal server error
  /incentive/claim-swap:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - Incentive
      summary: Claim Swap liquidity provider rewards
      parameters:
      - name: Incentive claim swap body
        in: body
        schema:
          properties:
            base_req:
              type: object
              properties:
                account_number:
                  type: string
                  example: "1"
                chain_id:
                  type: string
                  example: testing
                fees:
                  type: array
                  items:
                    type: object
                    properties:
                      amount:
                        type: string
                        example: "50000"
                      denom:
                        type: string
                        example: ukava
                from:
                  description: Sender address or Keybase name to generate a transaction
                  type: string
                  example: kava1ffv7nhd3z6sych2qpqkk03ec6hzkmufy0r2s4c
                gas:
                  type: string
                  example: "200000"
                gas_adjustment:
                  type: string
                  example: "1.0"
                memo:
                  type: string
                  example: a memo
                sequence:
                  type: string
                  example: "0"
                simulate:
                  description: Estimate gas for a transaction (cannot be used in conjunction
                    with generate_only)
                  type: boolean
                  example: false
            denoms_to_claim:
              type: array
              items:
                type: string
                example: ukava
            multiplier_name:
              type: string
              example: small
            sender:
              description: bech32 encoded address
              type: string
              example: kava1ffv7nhd3z6sych2qpqkk03ec6hzkmufy0r2s4c
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              fee:
                type: object
                properties:
                  amount:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: string
                          example: "50000"
                        denom:
                          type: string
                          example: ukava
                  gas:
                    type: string
                    example: "200000"
              memo:
                type: string
              msg:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      example: cosmos-sdk/MsgSend
                    value:
                      type: object
                      properties:
                        amount:
                          type: array
                          items:
                            type: object
                            properties:
                              amount:
                                type: string
                                example: "50000"
                              denom:
                                type: string
                                example: ukava
                        from_address:
                          type: string
                          example: kava1ffv7nhd3z6sych2qpqkk03ec6hzkmufy0r2s4c
                        to_address:
                          type: string
                          example: kava1ls82zzghsx0exkpr52m8vht5jqs3un0ceysshz
              signatures:
                type: array
                items:
                  type: object
                  properties:
                    pubkey:
                      type: object
                      properties:
                        type:
                          type: string
                          example: tendermint/PubKeySecp256k1
                        value:
                          type: string
                          example: Agey31h/NYpcy0sYm4liHMrXJMzbQUrgV4uHd/w09CXN
                    signature:
                      type: string
                      example: W1HfKcc4F0rCSoxheZ7fsrB5nGK58U4gKysuzsmUwhloVnCxmbCx289uVMMvQN6tOcQsz7hMVTJrXSA1xzevvw==
        "400":
          description: Invalid request
        "500":
          description: Internal server error
  /incentive/parameters:
    get:
      produces:
      - application/json
      tags:
      - Incentive
      summary: Get the current parameters of the incentive module
      responses:
        "200":
          description: USDX Incentive Claims
          schema:
            type: object
            properties:
              height:
                type: string
                example: "100"
              result:
                type: array
                items:
                  type: object
                  properties:
                    claim_end:
                      type: string
                      example: "2022-02-05T23:45:55.761435272Z"
                    claim_multipliers:
                      type: array
                      items:
                        type: object
                        properties:
                          factor:
                            type: string
                            example: "0.33"
                          months_lockup:
                            type: string
                            example: "12"
                          name:
                            type: string
                            example: small
                    hard_borrow_reward_periods:
                      type: array
                      items:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          collateral_type:
                            type: string
                            example: bnb
                          end:
                            type: string
                            example: "2024-02-05T23:45:55.761435272Z"
                          rewards_per_second:
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: string
                                  example: "50000"
                                denom:
                                  type: string
                                  example: ukava
                          start:
                            type: string
                            example: "2020-02-05T23:45:55.761435272Z"
                    hard_delegator_reward_periods:
                      type: array
                      items:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          collateral_type:
                            type: string
                            example: bnb
                          end:
                            type: string
                            example: "2024-02-05T23:45:55.761435272Z"
                          rewards_per_second:
                            type: object
                            properties:
                              amount:
                                type: string
                                example: "50000"
                              denom:
                                type: string
                                example: ukava
                          start:
                            type: string
                            example: "2020-02-05T23:45:55.761435272Z"
                    hard_supply_reward_periods:
                      type: array
                      items:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          collateral_type:
                            type: string
                            example: bnb
                          end:
                            type: string
                            example: "2024-02-05T23:45:55.761435272Z"
                          rewards_per_second:
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: string
                                  example: "50000"
                                denom:
                                  type: string
                                  example: ukava
                          start:
                            type: string
                            example: "2020-02-05T23:45:55.761435272Z"
                    usdx_minting_reward_periods:
                      type: array
                      items:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          collateral_type:
                            type: string
                            example: bnb
                          end:
                            type: string
                            example: "2024-02-05T23:45:55.761435272Z"
                          rewards_per_second:
                            type: object
                            properties:
                              amount:
                                type: string
                                example: "50000"
                              denom:
                                type: string
                                example: ukava
                          start:
                            type: string
                            example: "2020-02-05T23:45:55.761435272Z"
                x-nullable: true
        "500":
          description: Server internal error
  /incentive/rewards:
    get:
      produces:
      - application/json
      tags:
      - Incentive
      summary: Get earned Incentive rewards
      responses:
        "200":
          description: Incentive rewards
          schema:
            type: object
            properties:
              height:
                type: string
                example: "100"
              result:
                type: array
                items:
                  type: object
                  properties:
                    hard_claims:
                      type: array
                      items:
                        type: object
                        properties:
                          base_claim:
                            type: object
                            properties:
                              owner:
                                type: string
                                example: kava1q53rwutgpzx7szcrgzqguxyccjpzt9j4cyctn9
                              reward:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    amount:
                                      type: string
                                      example: "50000"
                                    denom:
                                      type: string
                                      example: ukava
                          borrow_reward_indexes:
                            type: array
                            items:
                              type: object
                              properties:
                                collateral_type:
                                  type: string
                                  example: bnb
                                reward_indexes:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      collateral_type:
                                        type: string
                                        example: bnb
                                      reward_factor:
                                        type: string
                                        example: "1.2581"
                          delegator_reward_indexes:
                            type: array
                            items:
                              type: object
                              properties:
                                collateral_type:
                                  type: string
                                  example: bnb
                                reward_factor:
                                  type: string
                                  example: "1.2581"
                          supply_reward_indexes:
                            type: array
                            items:
                              type: object
                              properties:
                                collateral_type:
                                  type: string
                                  example: bnb
                                reward_indexes:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      collateral_type:
                                        type: string
                                        example: bnb
                                      reward_factor:
                                        type: string
                                        example: "1.2581"
                    usdx_minting_claims:
                      type: array
                      items:
                        type: object
                        properties:
                          base_claim:
                            type: object
                            properties:
                              owner:
                                type: string
                                example: kava1q53rwutgpzx7szcrgzqguxyccjpzt9j4cyctn9
                              reward:
                                type: object
                                properties:
                                  amount:
                                    type: string
                                    example: "50000"
                                  denom:
                                    type: string
                                    example: ukava
                          reward_indexes:
                            type: array
                            items:
                              type: object
                              properties:
                                collateral_type:
                                  type: string
                                  example: bnb
                                reward_factor:
                                  type: string
                                  example: "1.2581"
                x-nullable: true
        "500":
          description: Server internal error
securityDefinitions:
  kms:
    type: basic
tags:
- description: Incentive module APIs
  name: Incentive
