name: Continuous Integration (Default Checks)

on:
  workflow_call:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo from current commit
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache-dependency-path: |
            go.sum
            tests/e2e/kvtool/go.sum
      - name: build application
        run: make build
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo from current commit
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache-dependency-path: |
            go.sum
            tests/e2e/kvtool/go.sum
      - name: run unit tests
        run: make test
      - name: run e2e tests
        run: make docker-build test-e2e
  test-e2e-evm:
    runs-on: ubuntu-latest
    env:
      KAVA_TAG: local
    steps:
      - name: Checkout current commit
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup nodejs
        uses: actions/setup-node@v3
        with:
          cache: npm
          node-version-file: .tool-versions
          cache-dependency-path: tests/e2e-evm/package-lock.json
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache-dependency-path: |
            go.sum
            tests/e2e/kvtool/go.sum
      - name: Install npm dependencies
        run: npm install
        working-directory: tests/e2e-evm
      - name: Run test suite against hardhat network
        run: npm run compile
        working-directory: tests/e2e-evm
      - name: Run test suite against hardhat network
        run: npm run test-hardhat
        working-directory: tests/e2e-evm
      - name: Build local image
        run: make docker-build
      - name: Install kvtool
        run: make -C tests/e2e/kvtool install
      - name: Generate kava config
        run: kvtool testnet gen-config kava --kava.configTemplate $(sed -nr "s/E2E_KVTOOL_KAVA_CONFIG_TEMPLATE=\"(.*)\"/\1/p" tests/e2e/.env)
      - name: Start kava chain
        run: kvtool testnet up -d
      - name: Wait for JSON RPC to start
        run: "curl --retry-all-errors --retry 12 --retry-delay 5 -X POST -H \"Content-Type: application/json\" http://127.0.0.1:8545"
      - name: Run test suite against kvtool network
        run: npm run test-kvtool
        working-directory: tests/e2e-evm
      - name: Shutdown kava
        if: always()
        run: kvtool testnet down
  fuzz:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo from current commit
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache-dependency-path: |
            go.sum
      - name: run fuzz tests
        run: make test-fuzz
  ibc-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo from current commit
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: tests/e2e-ibc/go.mod
          cache-dependency-path: |
            tests/e2e-ibc/go.sum
            go.sum
      - name: run ibc e2e tests
        run: make test-ibc
  validate-internal-testnet-genesis:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo from current commit
        uses: actions/checkout@v4
      - name: save version of kava that will be deployed if this pr is merged
        id: kava-version
        run: |
          echo "KAVA_VERSION=$(cat ./ci/env/kava-internal-testnet/KAVA.VERSION)" >> $GITHUB_OUTPUT
      - name: checkout version of kava that will be deployed if this pr is merged
        uses: actions/checkout@v4
        with:
          ref: ${{ steps.kava-version.outputs.KAVA_VERSION }}
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - name: build kava cli
        run: make install
      - name: checkout repo from current commit to validate current branch's genesis
        uses: actions/checkout@v4
      - name: validate testnet genesis
        run: kava validate-genesis ci/env/kava-internal-testnet/genesis.json
  validate-protonet-genesis:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo from current commit
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - name: build kava cli
        run: make install
      - name: validate protonet genesis
        run: kava validate-genesis ci/env/kava-protonet/genesis.json
